<ion-view title="Account">
  <ion-content class="padding">
    <h1>Account</h1>
    <ul class="list">

	  <li class="item item-toggle">
	     Dominant dir only
	     <label class="toggle toggle-assertive">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>

	  <li class="item item-toggle">
	     Other option
	     <label class="toggle toggle-assertive">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>

	</ul>
  </ion-content>
</ion-view>
