<ion-view title="Settings">
  <ion-content class="">
    <h4 class="center padding-top">Controller's settings</h4>
    <!-- <ul class="list"> -->
    <!-- Position -->
	  <!-- <li class="item item-divider">
	    Position
	  </li> -->
	  
	<div class="list">  
	  <li class="item item-divider">
	    Position
	  </li>
	  <li class="item item-toggle">
	     Dominant direction only
	     <!-- <p>asd</p> -->
	     <label class="toggle toggle-assertive">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>

	<li class="item ">
	    <div class="item-content">X-axis sensitivity</div>
	    <div class="range range-positive">
	        <input type="range" name="volume" min="0" max="100" value="33">
	    </div>
	</li>

	<li class="item ">
	    <div class="item-content">Y-axis sensitivity</div>
	    <div class="range range-positive">
	        <input type="range" name="volume" min="0" max="100" value="33">
	    </div>
	</li>

	  <li class="item item-button-right">
		    Cadibrate position
		<button class="button button-neutral">
			<i class="icon ion-cog"></i>
		</button>
	  </li>


	<!-- <ul class="list"> -->
	  <!-- rotation -->
	  <li class="item item-divider">
	    Rotation
	  </li>
	
	  <div class="item item-toggle">
	     Reverse direction
	     <label class="toggle toggle-assertive">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </div>
	
	<li class="item ">
	    <div class="item-content">Rotation Sensitivity</div>
	    <div class="range range-positive">
	        <input type="range" name="volume" min="0" max="100" value="33">
	    </div>
	</li>

	<li class="item ">
	    <div class="item-content">Return time</div>
	    <div class="range range-positive">
	        <input type="range" name="volume" min="0" max="100" value="33">
	    </div>
	    <div class="item-footer">
	    <p>Time uppon which joystick will return to default position</p>
	    </div>
	</li>

	  <!-- sensitivity -->
	  <!-- return time -->
	</ul>
  </ion-content>
</ion-view>
