<ion-view title="Friends">
  <ion-content class="center">
  	<div class="list" style="display:none;">
	  <label class="item item-input">
	    <input type="text" placeholder="X" ng-model="val.x" ng-change="updateVal(val);">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Y" ng-model="val.y" ng-change="updateVal(val);">
	  </label>
	</div>
	<div class="row">
	  <div class="col">  
    	<div style="border:#ddd 20px solid; border-radius: 50%; width: 300px; height:300px;position:relative">
    		<i class="ion-ios7-circle-filled" style="position:absolute;top:125px" ng-style="{'left': leftOffset + 'px', top: topOffset + 'px'}"></i>
    	</div>
	  </div>
	</div>
  </ion-content>
</ion-view>


  <ion-content class="center">
           <div class="row">
  <div class="col">
    <button class="button button-block button-energized">
      button-energized
    </button>
  </div>
</div>
    </ion-content>