<ion-view title="Friends">
  <ion-content scroll="false">
  	<div class="list" style="">
  	  <label class="item item-input">
  	    <input type="text" placeholder="X" ng-model="val.x">
  	  </label>
  	  <label class="item item-input">
  	    <input type="text" placeholder="Y" ng-model="val.y">
  	  </label>
  	</div>
    <div class="row">
        <accel-joystick coords="val"></accel-joystick>
    </div>
  </ion-content>
</ion-view>


  <ion-content class="center">
    <div class="row">
      <div class="col">
        <button class="button button-block button-energized">
          button-energized
        </button>
      </div>
    </div>
  </ion-content>